html {
  font-family: Verdana;
  color: white;
  text-align: center;
  background-color: black;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
h1{
  font-size: 50px;
  font-weight: normal;
}
h4 {
  color: Aquamarine;
  font-size: 16px;
  text-decoration: underline;
}
h2 {
  font-weight: 300;
  font-size: 42px;
}
p, h3 {
  font-size: 21px;
  color: gray;
}
h3 {
  text-align: right;
}
